* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html,
body {
  background-color: #edede3;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: auto;
}

h1 {
  line-height: normal;
}

p {
  letter-spacing: 0.5px;
}

/***************************************
     barra social
****************************************/
header.social-index,
footer.social {
  height: 15vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(192, 171, 226);
}

header.social-index .social-city,
footer.social .social-city {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 2vh 0 0 2vw;
  font-size: 1.2em;
}

header.social-index .social-city .social-ico > img,
footer.social .social-city .social-ico > img {
  width: 40px;
}

header.social-index .nav-net,
footer.social .nav-net {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-grow: 2;
  padding: 10px;
  margin-top: 2vh;
  font-size: 1rem;
}

header.social-index .nav-net > ul,
footer.social .nav-net > ul {
  display: flex;
  list-style-type: none;
  margin-right: 5%;
  gap: 2rem;
}

header.social-index .nav-net > ul > li img,
footer.social .nav-net > ul > li img {
  width: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  p {
    letter-spacing: 0px;
  }

  header.social-index,
  footer.social {
    max-height: 25vh;
    list-style-type: none;
  }

  header.social-index .social-city,
  footer.social .social-city {
    margin: 2px 0 0 2px;
    font-size: 2em;
    display: flex;
    align-items: end;
  }
  header.social-index .social-city .address,
  footer.social .social-city .address {
    display: none;
  }

  header.social-index .nav-net,
  footer.social .nav-net {
    margin-top: 10px;
    font-size: 15px;
  }

  header.social-index .nav-net > ul,
  footer.social .nav-net > ul {
    justify-content: center;
    margin-right: 5%;
    gap: 1rem;
  }

  header.social-index .nav-net > ul > li img,
  footer.social .nav-net > ul > li img {
    width: 20px;
  }
}

/****************************************** 
  header - menu
*******************************************/

.sticky-wrapper {
  position: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 20%;
}

.sticky-wrapper nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ededa3;
  width: 100%;
}

.sticky-wrapper img,
.sticky-wrapper h2  {
  /* margin-top: 98vh; */
  width: 10%;
  align-items: center;
  text-align: center;
  flex-grow: 1rem;
}

.sticky-wrapper h2{
  width: 15%;
}
.sticky-wrapper .menu{
  width: 75%;
  flex-grow: 5rem;
  display: flex;
  justify-content: end;
}


.sticky-wrapper  ul {
  display: flex;
  flex-direction: row; 
  list-style-type: none;
  background-color: #edede3;
}

.sticky-wrapper  li {
  flex-grow: 4rem;
  font-size: 2.5ex;
  padding: 1.5ex;
  
}

/*-----------------------------------
  portada
-----------------------------------*/

