* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html,
body {
  background-color: #edede3;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  line-height: normal;
}

p {
  letter-spacing: 0.5px;
}

/***************************************
     barra social
****************************************/
header.social-index,
footer.social {
  height: 10vh;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  background-color: rgb(192, 171, 226);
}

header.social-index .social-city,
footer.social .social-city {
  display: flex;
  gap: 2rem;
  margin-top: 2vh;
  font-size: 1.2rem;
}

header.social-index .nav-net,
footer.social .nav-net {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-grow: 2;
  padding: 10px;
  margin-top: 2vh;
  font-size: 3rem;
}

header.social-index .nav-net > ul,
footer.social .nav-net > ul {
  display: flex;
  list-style-type: none;
  margin-right: 5%;
  gap: 2rem;
}

header.social-index .nav-net > ul > li img,
footer.social .nav-net > ul > li img {
  width: 2rem;
}

@media (max-width: 768px) {
  body {
    flex-direction: row;
  }

  p {
    letter-spacing: 0px;
  }

  header.social-index,
  footer.social {
    height: 15vh;
  }

  header.social-index .social-city,
  footer.social .social-city {
    margin-top: 50px;
    font-size: 12px;
  }

  header.social-index .nav-net,
  footer.social .nav-net {
    margin-top: 20px;
    font-size: 15px;
  }

  header.social-index .nav-net > ul,
  footer.social .nav-net > ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-right: 5%;
    gap: 2rem;
  }

  header.social-index .nav-net > ul > li img,
  footer.social .nav-net > ul > li img {
    width: 20px;
  }
}
