* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

html,
body {
  background-color: #edede3;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: auto;
}

h1 {
  line-height: normal;
}

p {
  letter-spacing: 0.5px;
}

/***************************************
     barra social
****************************************/
header.social-index,
footer.social {
  height: 15vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(192, 171, 226);
}

header.social-index .social-city,
footer.social .social-city {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 2vh 0 0 2vw;
  font-size: 1.2em;
}

header.social-index .social-city .social-ico > img,
footer.social .social-city .social-ico > img {
  width: 40px;
}

header.social-index .nav-net,
footer.social .nav-net {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-grow: 2;
  padding: 10px;
  margin-top: 2vh;
  font-size: 1rem;
}

header.social-index .nav-net > ul,
footer.social .nav-net > ul {
  display: flex;
  list-style-type: none;
  margin-right: 5%;
  gap: 2rem;
}

header.social-index .nav-net > ul > li img,
footer.social .nav-net > ul > li img {
  width: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  p {
    letter-spacing: 0px;
  }

  header.social-index,
  footer.social {
    max-height: 25vh;
    list-style-type: none;
  }

  header.social-index .social-city,
  footer.social .social-city {
    margin: 2px 0 0 2px;
    font-size: 2em;
    display: flex;
    align-items: end;
  }
  header.social-index .social-city .address,
  footer.social .social-city .address {
    display: none;
  }

  header.social-index .nav-net,
  footer.social .nav-net {
    margin-top: 10px;
    font-size: 15px;
  }

  header.social-index .nav-net > ul,
  footer.social .nav-net > ul {
    justify-content: center;
    margin-right: 5%;
    gap: 1rem;
  }

  header.social-index .nav-net > ul > li img,
  footer.social .nav-net > ul > li img {
    width: 20px;
  }
}

/****************************************** 
  header - menu
*******************************************/

.sticky-wrapper {
  position: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 20%;
}

.sticky-wrapper nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ededa3;
  width: 100%;
}

.sticky-wrapper img,
.sticky-wrapper h2 {
  /* margin-top: 98vh; */
  width: 10%;
  align-items: center;
  text-align: center;
  flex-grow: 1rem;
}

.sticky-wrapper h2 {
  width: 15%;
}
.sticky-wrapper .menu {
  width: 75%;
  flex-grow: 5rem;
  display: flex;
  justify-content: end;
}

.sticky-wrapper ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: #edede3;
}

.sticky-wrapper li {
  flex-grow: 4rem;
  font-size: 2.5ex;
  padding: 1.5ex;
}

/*-----------------------------------
  portada
-----------------------------------*/

.videoWrapper {
  position: flex;
  margin: 3vh;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 10%;
  left: 0;
  width: 98%;
  height: 90%;
}

.custom-video,
.news-detail-image {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.overlay {
  background: linear-gradient(to top, #000, transparent 90%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portada,
.where-is {
  position: flex;
  flex-direction: column;
  /* bottom: 300px; */
  align-items: flex-start;
  align-content: stretch;
}

.where-is h3,
main h2.titule,
h2.titu-game,
h1.rules {
  text-align: center;
  align-self: flex-start;
  margin-top: 0.5em;
  font-size: 3rem;
  background-color: #000;
  color: #ededa3;
  width: 70%;
  margin-left: calc(30% / 2);
  border-radius: 20px 20px 0 0;
}

.where-is iframe {
  text-align: center;
  height: 70vh;
  background-color: #000;
  color: #ededa3;
  width: 70%;
  margin-left: calc(30% / 2);
  border-radius: 0 0 20px 20px;
  border: 2px black solid;
}

.titu-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
}

.titu-text p {
  color: #edede3;
  font-size: 2rem;
}

.titu-text h1 {
  color: #ededa3;
  text-align: center;
  font-size: 6rem;
}
/*----------------------------------
  PAGES
----------------------------------*/

article h3,
section h3,
h2.rules-row {
  text-align: center;
  background-color: #ededa3;
  color: black;
  width: 70%;
  margin-top: 2rem;
  margin-left: calc(30% / 2);
  border-radius: 20px 20px 0 0;
  border: 2px black solid;
}

article p,
section p,
.rules-row-field {
  width: 70%;
  margin-left: calc(30% / 2);
  border-radius: 0 0 20px 20px;
  border: 2px black solid;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

main .row-game, figure {
  width: 70%;
  margin-left: calc(30% / 2);
  border-radius: 20px;
  border: 2px black solid;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
}

main .row-game-map {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin: 1rem;
  flex-wrap: wrap;
}

.maps {
  align-items: center;
  width: 400px;
  height: 400px;
  border: 2px solid blueviolet;
  border-radius: 20px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maps h3 {
  width: 100%;
  background-color: aquamarine;
  border-radius: 20px 20px 0 0;
  text-align: center;
  height: auto;
  font-size: larger;
}

.maps iframe {
  width: 100%;
  height: 90%;
  border-radius: 0 0 20px 20px;
}

/*-----------------------------
  rules
------------------------------*/
.rules-row-field li {
  padding-top: 1rem;
}

/*-----------------------------
  images right
------------------------------*/

figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  z-index: -1;
}

figure img{
  border-radius: 20px 20px 0 0  ;
  width: 100%;
  margin: 0;
  padding: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}